@import "tailwindcss";

@layer components {
  .auth-input {
    @apply w-full px-4 py-3 rounded-lg bg-black/50 
    border border-white/10 text-white placeholder-gray-500
    focus:outline-none focus:ring-2 focus:ring-[#7a2232]
    transition;
  }
}


@layer components {
  .auth-input {
    @apply w-full px-4 py-3 rounded-lg bg-black/50 
    border border-white/10 text-white placeholder-gray-500
    focus:outline-none focus:ring-2 focus:ring-[#7a2232]
    transition;
  }
}